body {
  background-image: url(./pic/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: black;
  color: white;
  opacity: 70%;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding: 0% 0% 0% 0%;
  border: 1px solid whitesmoke;
  border-radius: 30px;
  z-index: 1;
}

.competence {
  margin-top: 40%;
  margin-bottom: 20%;
  color: white;
  width: 100%;
  background-color: black;
  border: 1px solid whitesmoke;
  border-radius: 30px;
  padding: 2% 2% 2% 2%;
}

.competence2 {
  background-color: aqua;
  margin-top: 0%;
  margin-bottom: 5%;
  width: 50%;
  color: white;
  background-color: black;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding-left: 2%;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease, transform 0.1s ease;
}

@media only screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    font-size: smaller;
  }
}

.projet {
  height: 50%;
  width: 100%;
}

.resize {
  height: 50%;
  width: 100%;
  border: 2px solid white;
}

.presentationProjet {
  text-align: center;
  background-color: white;
  border-radius: 30px;
  border: 3px solid black;
}
